/* Utilizing a table with different styles, create an image of the American flag. Use the image 
provided for the stars. */ 

table {
    height: 456px;
    width: 800px;
}

table, td {
    border: solid 0px;
    border-collapse: collapse;
}

tr:nth-child(odd) {
    background: red;
}
tr:nth-child(even) {
    background: white;
}
.stars {
    background: blue;
    width: 285px;
    height: 245px;
    margin-top: -476px;;
}

p {
    color: white;
    font-size: 20px;
    line-height: 5px;
    letter-spacing: 18px;
    text-align: center;

}
