/* Medium: Create a product grid of 2 rows, totaling to a required 8 products. Each product must include a 
title, price, image and a short description. Have each product link back to its own page on Amazon / 
Walmart / Target. */

.row {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* grid-template-rows: 12px 12px 12px 12px; */
   
    border-radius: 10px;
    margin: 30px;
    
}

.card img {
    width: 200px;
    height: 200px;
    border-radius: 10px; 
    padding: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
p {
    font-family: 
    font-size: 15px;
    border-radius: 20px;

}
.price {
    color: slategrey;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
  
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.card button:hover {
    opacity: 0.7;
}