/* Very Easy: Create one 8x8 checkerboard similar to the picture attached using a table. Bonus: use only 
divs to create the board. */

table, td, th {
  border: 1px solid #ddd;
}

table {
    width:50%;
    border-collapse: collapse;
    
}
th, td {
    padding: 30px;
    
}
td {
    background-color: black;
    vertical-align: center;
}
.fill-in {
    background-color: white;
}
